* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
  background-image: url(pngs/navio.png);
  background-size: 1920px 1080px;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

footer {
}

.box {
  height: 80vh;
  max-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes-imagem {
  background-color: rgba( 30, 30, 30, 0.8);
  height: 700px;
  width: 550px;
  border-radius: 24px;
}

.botoes {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 60px;
}

.table-container {
  
}

table {
  width: 700px;
  height: 700px;
  border-spacing: 3px; 
  border-collapse: separate;
}

.cell {
  background-image: url(pngs/agua.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 1px solid rgb(179, 179, 179);
  text-align: center;
}
.acertou {
  background-image: url(pngs/sinking.png);
}
.errou {
  background-image: url(pngs/target.png);
}

.radio-input {
  position: relative;
  top: 2%;
}
.radio-input-path {
  position: relative;
  width: 20em; /* width of the container holding the radiobutton and the label */
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
}
.radioContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.radioContainer label {
  font-size: 0.85em;
  font-weight: 900;
  cursor: pointer;
}
.radio-input-path input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: #000;
  transform-origin: bottom center;
  outline: none;
}
.radioContainer1 {
  color: antiquewhite;
  left: 0;
  top: 25%;
  transform: rotateZ(-45deg);
}
.radioContainer5 {
  color: antiquewhite;
  right: 0;
  top: 25%;
  transform: rotateZ(45deg);
}
.radioContainer2 {
  color: antiquewhite;
  left: 17%;
  top: 12%;
  transform: rotateZ(-35deg);
}
.radioContainer4 {
  color: antiquewhite;
  right: 19%;
  top: 12%;
  transform: rotateZ(25deg);
}
.radioContainer3 {
  color: antiquewhite;
  left: 39%;
  top: 6%;
  transform: rotateZ(0deg);
}

/* The circular thing that rotates */
.knob {
  width: 11em;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 25%;
  left: 50%;
  position: absolute;
  border: 3px solid black;
  outline: 3px solid gray;
  background: #cfc9bd;
  overflow: hidden;
  transform: translateX(-50%);
  transform-origin: center center;
  transition: transform 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.center {
  height: 100%;
  width: 2.25em;
  position: relative;
  left: 50%;
  top: 50%;
  background-color: #cfc9bd;
  border-radius: 7px;
  outline: 1px solid rgba(255, 255, 255, 0.377);
  transform: translate(-50%, -50%);
  box-shadow: 15px 0px 35px rgba(255, 255, 255, 0.474),
    -15px 0px 40px 5px rgba(128, 128, 128, 0.563),
    inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
  transition: box-shadow 100ms linear;
}
.center::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 25px;
  background-color: black;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
}

/* Adjust rotateZ if the knob rotation is away from the label */
.radio-input-path:has(.radio1:checked) ~ .knob {
  transform: translateX(-50%) rotateZ(-60deg);
}
.radio-input-path:has(.radio2:checked) ~ .knob {
  transform: translateX(-50%) rotateZ(-35deg);
}
.radio-input-path:has(.radio3:checked) ~ .knob {
  transform: translateX(-50%) rotateZ(0deg);
}
.radio-input-path:has(.radio4:checked) ~ .knob {
  transform: translateX(-50%) rotateZ(35deg);
}
.radio-input-path:has(.radio5:checked) ~ .knob {
  transform: translateX(-50%) rotateZ(60deg);
}

/* Dynamic shadow adustment based on the knob position */
.radio-input-path:has(.radio1:checked) ~ .knob > .center {
  box-shadow: 15px 0px 35px rgba(255, 255, 255, 0.74),
    -15px 0px 40px 5px rgb(128, 128, 128),
    inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
}
.radio-input-path:has(.radio2:checked) ~ .knob > .center {
  box-shadow: 15px 0px 35px rgba(255, 255, 255, 0.74),
    -15px 0px 40px 5px rgb(128, 128, 128, 0.574),
    inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
}
.radio-input-path:has(.radio4:checked) ~ .knob > .center {
  box-shadow: 15px 0px 35px rgba(128, 128, 128, 0.63),
    -15px 0px 40px 5px rgba(255, 255, 255, 0.574),
    inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
}
.radio-input-path:has(.radio5:checked) ~ .knob > .center {
  box-shadow: 15px 0px 35px rgb(128, 128, 128),
    -15px 0px 40px 5px rgba(255, 255, 255, 0.74),
    inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
}

#create-table {
  left: 112px;
}

.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), 0.5);
  border-radius: 100%;
  position: relative;
  transition: 0.3s;
}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(
    0deg,
    rgba(var(--primary), 0.6) 20%,
    rgba(var(--primary)) 50%
  );
  box-shadow: 0 0.5em 1em -0.2em rgba(var(--secondary), 0.5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: 0.15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.jac {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
}

#barcos {
  color: red;
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
}

#tiros {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 255, 0);
}

.card-post {
  justify-content: space-around;
  display: flex;
  margin-bottom: 10px;
}

.card {
  --bg: #c26904;
  --contrast: #999;
  --grey: #93a1a1;
  position: relative;
  padding: 9px;
  background-color: #716969;
  border-radius: 25px;
  text-align: center;
  display: grid;
  justify-content: center;
  width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(
      var(--bg) 0.0000001%,
      var(--grey) 0.000104%
    )
    60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80px;
  height: 120px;
  background-color: var(--contrast);
  border-radius: 20px;
  /* Content style */
  font-size: 30px;
  font-weight: 900;
  color: #c7c4c4;
  text-align: center;
  font-family: monospace;
}
